**Imports**

In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
import pandas as pd
import io

**Linking Dataset through Gdrive**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Making True and Fake csv**

In [ ]:
fake=pd.read_csv('/content/drive/MyDrive/Data/Fake-211023-185413.csv')

In [ ]:
# fake=pd.read_csv(io.BytesIO(uploaded['Fake-211023-185413.csv']))

In [ ]:
fake

                                                   title  ...               date
0       Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1       Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2       Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3       Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4       Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017
...                                                  ...  ...                ...
23476  McPain: John McCain Furious That Iran Treated ...  ...   January 16, 2016
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...  ...   January 16, 2016
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...  ...   January 15, 2016
23479  How to Blow $700 Million: Al Jazeera America F...  ...   January 14, 2016
23480  10 U.S. Navy Sailors Held by Iranian Military ...  ...   January 12, 2016

[23481 rows x 4 columns]

In [ ]:
true=pd.read_csv('/content/drive/MyDrive/Data/True-211023-185340.csv')

In [ ]:
true

                                                   title  ...                date
0      As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1      U.S. military to accept transgender recruits o...  ...  December 29, 2017
2      Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3      FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4      Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017
...                                                  ...  ...                 ...
21412  'Fully committed' NATO backs new U.S. approach...  ...    August 22, 2017
21413  LexisNexis withdrew two products from Chinese ...  ...    August 22, 2017
21414  Minsk cultural hub becomes haven from authorities  ...    August 22, 2017
21415  Vatican upbeat on possibility of Pope Francis ...  ...    August 22, 2017
21416  Indonesia to buy $1.14 billion worth of Russia...  ...    August 22, 2017

[21417 rows x 4 columns]

In [ ]:
true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [ ]:
true.head(
    6
    
)

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017
5  White House, Congress prepare for talks on spe...  ...  December 29, 2017

[6 rows x 4 columns]

In [ ]:
true.subject.value_counts()

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

**Adding taget values to identify fake and true data after concatination**

In [ ]:
fake['target']=0
true['target']=1

In [ ]:
true.head(3)

                                               title  ... target
0  As U.S. budget fight looms, Republicans flip t...  ...      1
1  U.S. military to accept transgender recruits o...  ...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1

[3 rows x 5 columns]

In [ ]:
data=pd.concat([fake,true])

In [ ]:
data

                                                   title  ... target
0       Donald Trump Sends Out Embarrassing New Year’...  ...      0
1       Drunk Bragging Trump Staffer Started Russian ...  ...      0
2       Sheriff David Clarke Becomes An Internet Joke...  ...      0
3       Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4       Pope Francis Just Called Out Donald Trump Dur...  ...      0
...                                                  ...  ...    ...
21412  'Fully committed' NATO backs new U.S. approach...  ...      1
21413  LexisNexis withdrew two products from Chinese ...  ...      1
21414  Minsk cultural hub becomes haven from authorities  ...      1
21415  Vatican upbeat on possibility of Pope Francis ...  ...      1
21416  Indonesia to buy $1.14 billion worth of Russia...  ...      1

[44898 rows x 5 columns]

In [ ]:
data=data.reset_index(drop=True)

In [ ]:
data.head(5)

                                               title  ... target
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0

[5 rows x 5 columns]

**Remove unnecessary columns**

In [ ]:

data=data.drop(['subject','date','title'],axis=1)

In [ ]:
data.columns

Index(['text', 'target'], dtype='object')

**Imports for tokenization**

In [ ]:
from nltk.tokenize import word_tokenize

**Tokenization**

In [ ]:
data['text']=data['text'].apply(word_tokenize)

In [ ]:
print(data.head(6))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0

**Imports for stemming**

In [ ]:
from nltk.stem.snowball import SnowballStemmer

**Stemmming process**

In [ ]:
porter=SnowballStemmer("english")

In [ ]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [ ]:
data['text']=data['text'].apply(stem_it)
pata=data

In [ ]:
data.head(6)

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0

**Removing Stopwords**

In [ ]:
from nltk.corpus import stopwords 
stop = set(stopwords.words('english'))

In [ ]:
def stop_it(text):
  temp=[word for word in text if not word in stop and  len(word)>2]
  return temp

In [ ]:
data['text']=data['text'].apply(stop_it)

In [ ]:
data.head(4)

                                                text  target
0  [donald, trump, wish, american, happi, new, ye...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, reveal, former, milwauke, sheriff, da...       0
3  [christma, day, donald, trump, announc, would,...       0

In [ ]:
data['text']=data['text'].apply(' '.join)

In [ ]:
data.head(3)

                                                text  target
0  donald trump wish american happi new year leav...       0
1  hous intellig committe chairman devin nune bad...       0
2  friday reveal former milwauke sheriff david cl...       0

**Splitting**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(data['text'],data['target'],test_size=0.25)
print(X_train.head())
print(Y_train.head())

35560    kiev reuter ukrainian polic clash backer oppos...
24115    washington reuter british primatologist jane g...
21433    somebodi need point incompet gun grabber chief...
10121    partial transcript rant black communiti blame ...
4078     presidenti debat comedi gold saturday night li...
Name: text, dtype: object
35560    1
24115    1
21433    0
10121    0
4078     0
Name: target, dtype: int64

**Vertorization**

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
my_tfidf=TfidfVectorizer(max_df=0.7)

In [ ]:
tfidf_train=my_tfidf.fit_transform(X_train)
tfidf_test=my_tfidf.transform(X_test)

In [ ]:
print(tfidf_train)

  (0, 76253)	0.03584779432044961
  (0, 8934)	0.04132227986438082
  (0, 11327)	0.03026515455691926
  (0, 64566)	0.01972076109581906
  (0, 54554)	0.03302559679643033
  (0, 49476)	0.016441364599648407
  (0, 9592)	0.026314637063132255
  (0, 83406)	0.035444044019504614
  (0, 69032)	0.06474193642202589
  (0, 25344)	0.033376397909856165
  (0, 22356)	0.017621456844165044
  (0, 13569)	0.03524610357781983
  (0, 7622)	0.02538704256407532
  (0, 56006)	0.06058635485209917
  (0, 44234)	0.030023208463061696
  (0, 11571)	0.032444376709256796
  (0, 49054)	0.08495430623244672
  (0, 73775)	0.07925155736481454
  (0, 48497)	0.028523765224609542
  (0, 41868)	0.03344419877384578
  (0, 21482)	0.04805569655116197
  (0, 19599)	0.029615381117373312
  (0, 60053)	0.038128595552139814
  (0, 85370)	0.05814887895244429
  (0, 17697)	0.019947086956628713
  :	:
  (33672, 24341)	0.022519087501277308
  (33672, 21956)	0.023073675760838293
  (33672, 10425)	0.02880876350321651
  (33672, 48473)	0.019377086763135404
  (33672, 52784)	0.019180934255573916
  (33672, 82319)	0.022954571754551928
  (33672, 24943)	0.017297399127888698
  (33672, 60659)	0.017019956704826193
  (33672, 35723)	0.016660748982324454
  (33672, 90490)	0.013853308913699078
  (33672, 84012)	0.03278471530254361
  (33672, 21249)	0.04800930085713802
  (33672, 32461)	0.026824614225460293
  (33672, 13001)	0.030302381238572502
  (33672, 36287)	0.018825385827468018
  (33672, 21678)	0.06212853601654385
  (33672, 60620)	0.013428135395579388
  (33672, 57253)	0.01568971366818316
  (33672, 22844)	0.05634124340115971
  (33672, 21215)	0.02112216695276664
  (33672, 16812)	0.02569828428780302
  (33672, 82925)	0.019381408269545482
  (33672, 18795)	0.029086270209413193
  (33672, 32717)	0.0551007210225432
  (33672, 41298)	0.01678981184655949

**Logistic Regression**

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [ ]:
model_1=LogisticRegression(max_iter=900)
model_1.fit(tfidf_train,Y_train)
pred_1=model_1.predict(tfidf_test)
cr1=accuracy_score(Y_test,pred_1)
print(cr1*100)

98.98440979955456

**Passive Aggressive Classifier**

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier as pac

In [ ]:
model=pac(max_iter=50)
model.fit(tfidf_train,Y_train)

PassiveAggressiveClassifier(max_iter=50)

In [ ]:
y_pred=model.predict(tfidf_test)
accscore=accuracy_score(Y_test,y_pred)
print("Accuracy of model is : "+str(accscore*100))

Accuracy of model is : 99.71492204899778

In [ ]:
####END